ul.checklist {list-style: none}

li.checklist-item-true::before {content: "☑ "; color: green}

li.checklist-item-false::before {content: "☐ "; color: red}

body {
    font-family: Arial;
    background-image: url("img/background.jpg");
    color: white;
    padding: 20px;
    margin-bottom: 200px;
}

.wrapper {
    height: 650px;
    max-width: 600px;
    margin: auto;
}

.center {
    text-align: center;
}


.bold {
    font-weight: bold;
}

.title-card {
    margin: auto;
    width: 50%;
    margin-bottom: 50px;
}

.email-info {
    margin-left: -15px;
}

.icons {
    margin-top: 110px;
    margin-left: 20px;
}

@font-face {
    font-family: Curse;
    src: url(fonts/Curse.ttf);
}

.title {
    font-family: Curse;
    text-align: center;
    color: white;
}

.panel {
    -webkit-box-shadow: 10px 0 5px -2px #227;
    box-shadow: 10px 0 5px -2px #227;
    background-color: #229;
    width: 72%;
    padding: 20px;
    border-radius: 15px;
}

.column {
    position: absolute;
    margin-top: -232px;
    margin-left: 220px;
    width: 400px;
}

.vl1 {
    position: absolute;
    height: 100%;
    border-left: 2px solid white;
    height: 200px;
    margin-top: -215px;
    margin-left: 200px;
}

.avatar-card {
    float: right;
    text-align: center;
    margin-top: -220px;
    margin-right: -135px;
    font-weight: bold;
}

.avatar {
    float: right;
    height: 90px;
    width: 90px;
    border-radius: 90px;
    margin: auto;
}

.info {
    margin: auto;
    background-color: #225;
    border-radius: 15px;
    margin-bottom: 20px;
    min-width: 600px;
}

.info a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.info a:link {
    text-decoration: none;
    color: white;
}

.info a:visited {
    text-decoration: none;
    color: white;
}

.info a:hover {
    text-decoration: none;
    color: white;
}

.info a:active {
    text-decoration: none;
    color: white;
}

.terminal{
    font-family: monospace;
}

div.terminal {
    margin: auto;
    width: 100%;
    border: solid;
    border-radius: 15px;
    border-width: : 5px;
    border-color: lightgrey;
    background: #222;
    color: #fff;
}

div.terminal-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: lightgrey;
    height: 20px;
    padding-left: 10px;
}

.dot-red {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 97, 89);
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    height: 15px;
    width: 15px;
    background-color: rgb(37, 204, 62);
    border-radius: 50%;
    display: inline-block;
}

.dot-yellow {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 191, 47);
    border-radius: 50%;
    display: inline-block;
}

.blink_me {
    display: inline;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslateblue;
    color: white;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer a:link {
    text-decoration: none;
    color: white;
}

.footer a:visited {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    text-decoration: none;
    color: white;
}

.footer a:active {
    text-decoration: none;
    color: white;
}

.email {
    text-align: center;
    margin-top: -90px;
}

@media (max-width: 600px) {
    body {
        min-height: 850px;
    }

    .email {
        float: right;
        margin-right: 30px;
    }

    .vl1 {
        height: 0px;
        width: 0px;
    }

    .info {
        height: 500px;
        width: 100%;
        min-width: 240px;
        margin-left: -5px;
        margin-right: -20px;
    }

    .panel {
        height: 460px;
        width: 95%;
        box-shadow: none;
    }

    .column {
        margin-left: 0px;
        margin-top: -10px;
        margin-right: 50px;
    }

    .avatar-card {
        float: none;
        margin-bottom: 100px;
    }

    .avatar {
        float: none;
        margin: auto;
    }

}
